html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  text-align: center;
}
